.span1 .up img {
    width: 100%;
}

.span1 .down,
.span1 .comm{
    width: 100%;
    position: relative;
    height: 100%;
}

.span1 .down .title,
.span1 .down .content,
.span1 .comm .head,
.span1 .comm .list,
.span1 .down .tags {
    position: relative
    padding: 0;
}

.span1 .comm .head .autor_img img {
    width: 100%;
}
.span1 .comm .head table {
    width: 100%;
    border-spacing: 0;
}
.span1 .comm .head table tr td {
    padding: 0;
}
.span1 .comm .head table .head_discripton {
    padding: 5px;
    vertical-align: top;
}

.span1 .down .content {
    height: 60%;
}


.span1 .down,
.span1 .comm {
background-color: #222;
}

.span1 .down .title,
.span1 .comm .head,
.span1 .down .tags {
    height: 20%;
}

.span1 .down .title,
.span1 .down .tags {
    background: #333;
}

.span1 .comm .list {
    height: 80%;
    overflow-y: auto;
}

.span1 .comm .list .comment {
    width: 90%;
    padding: 5%;
    margin: 0 0 5px 0;
    background: #333;
}
.row-fluid {
    -webkit-perspective: 1000;
}
.span1 .up{
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}

.span1:hover .up {
    -webkit-transform: rotateY(180deg);
}

.face {
position: absolute;
-webkit-backface-visibility: hidden;
}

